<!DOCTYPE html>
<html>
<head>
    <title>{{ 'Edit' if activity else 'Create' }} Activity</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>{{ 'Edit' if activity else 'Create' }} Activity</h1>
    <form method="post">
        <label>Name: <input type="text" name="name" value="{{ activity.name if activity else '' }}"></label><br><br>
        <label>Parent Activity:
            <select name="parent_id">
                <option value="">None</option>
                {% for a in activities %}
                    <option value="{{ a.id }}">{{ a.name }}</option>
                {% endfor %}
            </select>
        </label><br><br>
        <button type="submit">Save</button>
    </form>
    <br>
    <a href="/activities/">Back to list</a>
</body>
</html>